.spec-container {
	width: 20vw;
	height: 80%;
	margin: 1rem;
	padding: 1rem;
	border: double 10px rgb(216, 121, 13);
	background-color: rgb(51, 34, 14);
	display: flex;
	justify-content: center;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

.spec-option {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20vw;
	height: 7vh;
	background-color: rgb(179, 146, 119);
	margin: 2rem;
	border-radius: 5px;
	box-shadow: 0px 0px 15px 5px #221403;
	color: black;
}

.spec-option-available {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20vw;
	height: 7vh;
	margin: 2rem;
	border-radius: 5px;
	background-color: rgb(179, 146, 119);
	box-shadow: 0px 0px 14px 4px rgba(232, 225, 18, 1);
	color: black;
}

.spec-option-available:hover {
	font-weight: bold;
}
