.card-container,
.player-container,
.ennemy-container {
  display: flex;
  margin: 0.5rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  min-width: 390px;
  height: 85%;
  border: double 10px rgb(216, 121, 13);
  background-color: rgba(51, 34, 14, 0.9);
}
/* PLAYER SECTION --------------------------------------------*/
.character-gif {
  width: 390px;
  height: 220px;
  background-color: rgb(123, 70, 0);
  padding: 0.3rem;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px #834903;
  z-index: 999;
}

.player-img {
  width: 390px;
  height: 220px;
}

.player-img-transition {
  transform-origin: top left;
  transition: 1.5s;
  scale: 2.5;
  z-index: 999;
}

.player-img-end {
  scale: 1;
  transition: 1.5s;
}

.player-title {
  font-size: 2rem;
  margin: 0;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.info-container h3 {
  color: #ffcb00;
}

.player-info {
  margin: 0;
}

.power-button-container {
  border-radius: 50%;
}

.power-button {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-image: url(../../assets/button.png);
  background-size: cover;
}

.power-button-animation {
  scale: 1.1;
}

.power-button:hover {
  box-shadow: 0px 0px 30px 1px rgba(232, 225, 18, 1);
  color: black;
}
/* ENNEMY SECTION --------------------------------------------*/

.ennemy-gif {
  width: 390px;
  height: 220px;
  background-color: rgb(123, 70, 0);
  padding: 0.3rem;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px #834903;
}

.attacked {
  animation: wobble-hor-bottom 0.8s both;
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.ennemy-title {
  font-size: 2rem;
  margin: 0;
}

.health-bar-container {
  width: 300px;
  height: 25px;
  background-color: #ccc;
  border: 2px solid #000;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.health-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.health-bar.medium {
  background-color: #ffeb3b;
}

.health-bar.low {
  background-color: #f44336;
}

.button-attack {
  margin: 0.2rem;
}

.progress-bar {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  background-color: #beac06; /* Couleur de la barre */
  transition: width 0.1s linear;
}
