.card-container,
.player-container,
.ennemy-container {
  display: flex;
  margin: 0.5rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  min-width: 390px;
  height: 100%;
  border: double 10px rgb(216, 121, 13);
  background-color: rgba(51, 34, 14, 0.9);
}
/* --------------------------------------------
---------------PLAYER SECTION --------------
-------------------------------------------- */
.character-gif {
  width: 390px;
  height: 220px;
  background-color: rgb(123, 70, 0);
  padding: 0.3rem;
  border-radius: 5px;
}

.player-img {
  width: 390px;
  height: 220px;
}

.player-img-transition {
  transform-origin: top left;
  transition: 1.5s;
  scale: 2.5;
  z-index: 999;
}

.player-img-end {
  scale: 1;
  transition: 1.5s;
}

.player-title {
  font-size: 2rem;
  margin: 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.info-container h3 {
  color: #ffcb00;
}

.player-info {
  margin: 0;
}

.power-button-container {
  border-radius: 50%;
}

.power-button {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-image: url(../../assets/button.png);
  background-size: cover;
}

.power-button-animation {
  scale: 1.1;
}

.power-button:hover {
  box-shadow: 0px 0px 30px 1px rgba(232, 225, 18, 1);
  color: black;
}
/* --------------------------------------------
---------------ENNEMY SECTION --------------
-------------------------------------------- */
.ennemy-gif {
  width: 390px;
  height: 220px;
  background-color: rgb(123, 70, 0);
  padding: 0.3rem;
  border-radius: 5px;
}

.ennemy-title {
  font-size: 2rem;
  margin: 0;
}

.health-bar-container {
  width: 300px;
  height: 25px;
  background-color: #ccc;
  border: 2px solid #000;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.health-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.health-bar.medium {
  background-color: #ffeb3b;
}

.health-bar.low {
  background-color: #f44336;
}

.button-attack {
  margin: 0.2rem;
}

.progress-bar {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  background-color: #beac06;
  transition: width 0.1s linear;
}

/* --------------------------------------------
---------PORTAIT MOBILE RESPONSIVE ------------
-------------------------------------------- */
@media screen and (max-width: 480px) and (min-height: 660px) {
  .player-container,
  .ennemy-container {
    min-width: 280px;
    width: 85%;
  }

  .player-img,
  .ennemy-gif,
  .character-gif {
    width: 300px;
    height: 200px;
    box-shadow: none;
  }

  .player-img-transition {
    scale: 1;
  }

  .player-title,
  .ennemy-title {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1rem;
    margin: 0.2rem;
  }

  .player-info,
  .ennemy-info {
    font-size: 0.9rem;
  }

  .power-button {
    width: 6rem;
    height: 6rem;
  }
}

/* --------------------------------------------
---------lANDSCAPE MOBILE RESPONSIVE ----------
-------------------------------------------- */
@media (min-width: 660px) and (max-width: 930px) and (min-height: 320px) and (
    max-height: 480px
  ) {
  .player-container,
  .ennemy-container {
    min-width: 200px;
    width: 85%;
    border: double 5px rgb(216, 121, 13);
    height: 100%;
    margin-top: 3rem;
  }

  .tech-container {
    margin-top: 3rem;
  }

  .player-img,
  .ennemy-gif,
  .character-gif {
    width: 200px;
    height: 120px;
    box-shadow: none;
  }

  .player-img-transition {
    scale: 2;
  }

  .player-title,
  .ennemy-title {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.7rem;
    margin: 0.1rem;
  }

  .player-info {
    font-size: 0.6rem;
  }

  .power-button {
    width: 3rem;
    height: 3rem;
  }

  .health-bar {
    height: 100%;
  }

  .health-bar-container {
    overflow: initial;
    width: 80%;
    margin-bottom: 2px;
    height: 15px;
  }

  .ennemy-info {
    font-size: 0.7rem;
    margin: 0.3rem;
  }

  .button-attack {
    font-size: 0.6rem;
    margin: 0.1rem;
  }
}

/* --------------------------------------------
---------TABLET PORTAIT RESPONSIVE ------------
-------------------------------------------- */
@media (min-width: 768px) and (max-width: 1024px) and (min-height: 500px) {
  .player-container,
  .ennemy-container {
    min-width: 200px;
    width: 85%;
    border: double 8px rgb(216, 121, 13);
    height: 60%;
  }

  .player-img,
  .ennemy-gif,
  .character-gif {
    width: 240px;
    height: 160px;
    box-shadow: none;
  }

  .player-title,
  .ennemy-title {
    font-size: 1.5rem;
  }

  .ennemy-title {
    margin-bottom: 1.4rem;
  }

  .health-bar-container {
    width: 100%;
  }
}

/* --------------------------------------------
---------TABLET lANDSCAPE RESPONSIVE ----------
-------------------------------------------- */
@media (min-width: 1024px) and (max-width: 1240px) {
  .player-container,
  .ennemy-container {
    min-width: 200px;
    width: 85%;
    border: double 8px rgb(216, 121, 13);
    height: 80%;
  }

  .player-img,
  .ennemy-gif,
  .character-gif {
    width: 350px;
    height: 180px;
    box-shadow: none;
  }
}
