.card-container,
.player-container,
.ennemy-container {
	display: flex;
	margin: 0.5rem;
	padding: 1rem;
	flex-direction: column;
	align-items: center;
	width: 30vw;
	min-width: 390px;
	height: 85%;
	border: double 10px rgb(216, 121, 13);
	background-color: rgba(51, 34, 14, 0.9);
}
/* PLAYER SECTION --------------------------------------------*/
.character-gif {
	width: 390px;
	height: 220px;
	background-color: rgb(123, 70, 0);
	padding: 0.3rem;
	border-radius: 5px;
	border: solid 2px black;
	box-shadow: 0px 0px 15px 5px #3b2305;
}

.player-img {
	width: 390px;
	height: 220px;
}

.player-img-transition {
	transform-origin: top left;
	transition: 1.5s;
	scale: 2.5;
}

.player-img-end {
	scale: 1;
	transition: 1.5s;
}

.player-title {
	font-size: 2rem;
	margin: 0;
}

.power-button-container {
	border-radius: 50%;
}

.power-button {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	background-image: url(../../assets/button.png);
	background-size: cover;
}

.power-button-animation {
	scale: 1.1;
}

.power-button:hover {
	box-shadow: 0px 0px 30px 1px rgba(232, 225, 18, 1);
	color: black;
}
/* ENNEMY SECTION --------------------------------------------*/
.ennemy-title {
	font-size: 2rem;
	margin: 0;
}

.health-bar-container {
	width: 300px;
	height: 25px;
	background-color: #ccc;
	border: 2px solid #000;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 10px;
}

.health-bar {
	height: 100%;
	background-color: #4caf50;
	transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.health-bar.medium {
	background-color: #ffeb3b;
}

.health-bar.low {
	background-color: #f44336;
}
