.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 10%;
  position: absolute;
  border: double 10px rgb(216, 121, 13);
  background-color: rgba(51, 34, 14, 0.9);
  bottom: 0%;
}

.invisible {
  visibility: hidden;
}

.hidden {
  height: 0%;
}

.playmusic-button {
  margin: 2rem;
}

.arrow-img {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 85%;
}
.arrow-img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#effect-range,
#music-range {
  font-size: 0.5rem;
  margin: 0.5rem;
}

@media screen and (max-width: 480px) {
  .audio-container {
    width: 100%;
    height: 5%;
    position: initial;
  }

  .hidden {
    height: 0vh;
  }

  #music-range {
    font-size: 0.5rem;
  }

  .arrow-img {
    position: relative;
    bottom: 50%;
  }

  .playmusic-button {
    margin: 1rem;
  }
}
