#root {
	display: flex;
	justify-content: center;
	margin: 0;
	text-align: center;
	height: 80vh;
	width: 100%;
	margin: 5rem;
}

body {
	background-image: url(./assets/background.webp);
	background-size: cover;
}

.home-container {
	border: double 10px rgb(216, 121, 13);
	background-color: rgba(51, 34, 14, 0.9);
}

.home-paragraph {
	padding: 3rem;
	max-width: 80ch;
	text-align: center;
}
