#root {
	display: flex;
	justify-content: center;
	margin: 0;
	text-align: center;
	height: 80vh;
	width: 100%;
	margin: 5rem;
}

body {
	background-image: url(./assets/background.webp);
	background-size: cover;
}
